@use '../util'as *;

.modal {
    @include absolute-center;
    display: block;
    width: 90%;
    padding: 3rem 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    text-align: center;

    &__title {
        margin-bottom: 3rem;
        font-size: 1.2rem;
    }

    &__button {
        width: 100%;
        padding: 1rem 0;
        border-radius: 30px;
        color: white;

        &:first-child {
            background: var(--easy);  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
            background: var(--easy-gradient) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
        }

        &:nth-child(2) {
            background: var(--normal);  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left,#1D976C, #93F9B9);  /* Chrome 10-25, Safari 5.1-6 */
            background: var(--normal-gradient); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
        }

        &:last-child {
            background: var(--hard);  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
            background: var(--hard-gradient) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        &:not(:last-of-type) {
            margin-bottom: .8rem;
        }

        &:hover {
            opacity: 0.9;
        }
    }


    @include breakpoint-up(medium) {
        width: 50%;
    }

    @include breakpoint-up(large) {
        width: 30%;
        padding: 3rem;
    }

    @include breakpoint-up(xlarge) {
        width: 20%;
    }

    &.hide {
        display:none;
    }
}
